@turquoise: #1ABC9C;
@emerland: #2ECC71;
@peter-river: #3498DB;
@amethyst: #9B59B6;
@wet-asphalt: #34495E;

@green-sea: #16A085;
@nephritis: #27AE60;
@belize-hole: #2980B9;
@wisteria: #8E44AD;
@midnight-blue: #2C3E50;


@sun-flower: #F1C40F;
@carrot: #E67E22;
@alizarin: #E74C3C;
@clouds: #ECF0F1;
@concrete: #95A5A6;

@orange: #F39C12;
@pumpkin: #D35400;
@pomegranate: #C0392B;
@silver: #BDC3C7;
@asbestos: #7F8C8D;

// Custom Flat Ui Colors
@california-grapes: #BD4F7A;
@lipstick #8C3557;

// Spark UI
@light-heading: #C3C4C5;
@dark-heading: #545657;
@background: #DDE3E6;
@item-background :#F5F8FA;
@faded-icon: #DDE3E6;
@menu: #333;
@menu-icon: #E4E4E4;




.menu-left-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

#content {
  z-index: 10;
}


.main-content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.main-modal {
    position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  visibility: hidden;

    // transform: translateX(-100%) translateY(-100%);
    backface-visibility: hidden;
    // transform: scale(0.7);
    opacity: 0;
    transition: opacity 0.3s;

  &.is-visible {
    z-index: 100;
    visibility: visible;
      // transform: scale(1);
    opacity: 1;
  }
}

.main-modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color:white;
  background-color: #34495e;
  padding: 2em;
background-color: #27ae60;
}


//
//      Agenda item
//

.agenda-item {
  display: flex;

  .icon {
    text-align: center;
    flex: 1;
    background-color: @nephritis;
    color: white;
    font-size: 2em;
    line-height: 1.3em;
  }

  .title {
    flex: 10;
    background-color: @item-background;
    color: @dark-heading;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.3em;
    padding: 5px 10px;
  }
}


//
//      Header
//

.spark-header {
  .insert-button {
    margin-left: 20px;
  }

  .delete-button{
    margin-left: 30px;
    float: right;
  }
}

//
//      Content
//

.content-holder-left {
  right: 60% !important;
}

.content-holder-right {
  left: 60% !important;
}

.scrollable{
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}

.spark-scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.spark-scrollable-height {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroller {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scroller-right {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 60%;
  right: 0;
}

.spark-wrapper {
  margin-top: 64px;
}